<h2>Your Cart</h2>

<% unless cart.line_items.empty? %>

<table>
  <%= render(cart.line_items) %>

  <tr>
    <td> Total</td>
    <td> <%= number_to_currency(cart.total_price) %></td>
  </tr>
</table>


<%= button_to('Empty Cart', cart,method: :delete,data:{confirm: 'Are You Sure?'}) %>

<% end %>